body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  color: beige;
}
.container {
  width: 1160px;
  margin: 20px auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-navbar {
  display: flex;
}
.cart-navbar > * + * {
  margin-left: 50px;
}
.category {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease-in;
}
.category > * + * {
  margin-left: 18px;
}
.categoryButtonSelected {
  background-color: rgb(207, 5, 5);
  color: beige;
  cursor: pointer;
  padding: 0 5px;
  transform: scale(1.1);
}
.categoryButton {
  cursor: pointer;
}
.categoryButton:hover {
  background-color: beige;
  cursor: pointer;
  color: rgb(207, 5, 5);
}
.name {
  display: flex;
  align-items: center;
  color: rgb(207, 5, 5);
  font-size: 20px;
}
.avatar {
  margin-right: 30px;
  width: 45px;
  height: 45px;
}
.row {
  display: flex;
}
.dishes {
  width: 900px;
}
.cards {
  display: inline-block;
  align-items: center;
  border: 2px solid beige;
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 350px;
  height: 450px;
}
.dish-img {
  width: 250px;
  height: 220px;
  margin: 20px auto 15px;
}
h2 {
  text-decoration: underline;
  color: rgb(207, 5, 5);
  transition: all 0.2s ease-in;
}
h2:hover {
  color: beige;
  cursor: pointer;
}
.price {
  margin-bottom: 10px;
  font-size: 18px;
}
.buttons {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto 15px;
  align-items: center;
}
.quantityButton {
  padding: 5px 15px;
  margin: 0 10px;
  color: rgb(207, 5, 5);
  font-weight: 700;
  font-size: 16px;
  background-color: beige;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}
.quantityButton:hover {
  background-color: rgb(207, 5, 5);
  color: beige;
}
.quantity-block > * + * {
  margin-bottom: 20px;
}
.cartIcon {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.cartItem {
  margin-top: 15px;
  width: 200px;
}
h3 {
  font-size: 20px;
  color: beige;
  letter-spacing: 0.2px;
}
h4 {
  color: rgb(207, 5, 5);
  font-size: 20px;
  letter-spacing: 0.2px;
  text-decoration: underline;
}
.bin {
  background-color: beige;
  width: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.bin:hover {
  background-color: rgb(207, 5, 5);
}
.add {
  padding: 7px 10px;
  border: none;
  border-radius: 8px;
  color: rgb(207, 5, 5);
  font-weight: 600;
  background-color: beige;
  transition: all 0.2s ease-in;
}
.add:hover {
  background-color: rgb(207, 5, 5);
  color: beige;
}
.column {
  display: flex;
  flex-direction: column;
}
.credit {
  padding-top: 20px;
  background-color: white;
  height: 1000px;
  font-size: 20px;
}
.pay {
  margin-top: 30px;
  margin-left: 80px;
  padding: 10px 30px;
  font-size: 18px;
  background-color: rgb(207, 5, 5);
  color: beige;
  transition: all 0.2s ease-in;
}
.pay:hover {
  color: rgb(207, 5, 5);
  background-color: beige;
}
.textPay {
  color: rgb(207, 5, 5);
  margin-left: 20px;
  margin-top: 20px;
}